@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./primevue/tailwind.css";
@import "tailwindcss/utilities";

.pop-enter-active {
    animation: popIn 0.5s ease-out;
  }
  
  .pop-leave-active {
    animation: popOut 0.3s ease-in;
  }
  
  .cart-button.scale {
    animation: scaleUpDown 1.5s ease;
  }
  
  .cart-icon-wrapper.wiggle {
    animation: wiggleAndJump 0.5s ease;
  }

.sticky {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 50;
}

.rainbow-spots {
    position: relative;
    overflow: hidden;
  }
  
  .rainbow-spots::before,
  .rainbow-spots::after {
    content: '';
    position: absolute;
    width: 150px; /* Ukuran lingkaran kecil */
    height: 150px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5), transparent 50%);
    animation: rainbowSmooth 5s linear infinite;
  }
  
  .rainbow-spots::before {
    top: -25px; /* Pojok kanan atas */
    right: -25px;
  }
  
  @keyframes rainbowSmooth {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
  }

@keyframes popIn {
    0% { transform: scale(0); opacity: 0; }
    70% { transform: scale(1.1); }
    100% { transform: scale(1); opacity: 1; }
}
  
@keyframes popOut {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0); opacity: 0; }
}
  
@keyframes wiggleAndJump {
    0% { transform: translateY(0) rotate(0deg) scale(1); }
    25% { transform: translateY(-10px) rotate(10deg) scale(1.2); }
    50% { transform: translateY(0) rotate(-10deg) scale(1.5); }
    75% { transform: translateY(-10px) rotate(5deg) scale(1.2); }
    100% { transform: translateY(0) rotate(0deg) scale(1); }
}
  
@keyframes scaleUpDown {
    0% { height: 3.5rem; }
    25% { transform: scale(1.2); height: 3.75rem; }
    50% { height: 4rem; color: rgb(175, 255, 203); }
    75% { height: 3.75rem; }
    100% { height: 3.5rem; }
}