@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./primevue/tailwind.css";
@import "tailwindcss/utilities";

.price-container {
  min-height: 48px; /* Sesuaikan nilai ini agar cukup untuk dua baris teks */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Memastikan teks berada di tengah vertikal */
}

.bg-beige {
  background-color: #f5e8c7;
}

.relative .absolute {
  transition: all 0.3s ease-in-out;
}

.hover\:shadow-2xl:hover .absolute {
  opacity: 0.5; /* Efek hover untuk background */
}

.sort-button-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expand-enter-active,
.expand-leave-active {
  transition: all 0.3s ease;
}
.expand-enter-from,
.expand-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.pop-enter-active {
    animation: popIn 0.3s ease-out;
  }
  
  .pop-leave-active {
    animation: popOut 0.3s ease-in;
  }
  
  .cart-button.scale {
    animation: scaleUpDown 0.3s ease;
  }
  
  .cart-icon-wrapper.wiggle {
    animation: wiggleAndJump 0.3s ease;
  }

.sticky {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 50;
}

.rainbow-spots {
    position: relative;
    overflow: hidden;
  }
  
.rainbow-spots::before,
.rainbow-spots::after {
  content: '';
  position: absolute;
  width: 150px; /* Ukuran lingkaran kecil */
  height: 150px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5), transparent 50%);
  animation: rainbowSmooth 5s linear infinite;
}

.rainbow-spots::before {
  top: -25px; /* Pojok kanan atas */
  right: -25px;
}
  
  @keyframes rainbowSmooth {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
  }

@keyframes popIn {
    0% { transform: scale(0); opacity: 0; }
    70% { transform: scale(1.1); }
    100% { transform: scale(1); opacity: 1; }
}
  
@keyframes popOut {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0); opacity: 0; }
}
  
@keyframes wiggleAndJump {
    0% { transform: translateY(0) rotate(0deg) scale(1); }
    25% { transform: translateY(-10px) rotate(10deg) scale(1.2); }
    50% { transform: translateY(0) rotate(-10deg) scale(1.5); }
    75% { transform: translateY(-10px) rotate(5deg) scale(1.2); }
    100% { transform: translateY(0) rotate(0deg) scale(1); }
}
  
@keyframes scaleUpDown {
    0% { height: 3.5rem; }
    25% { transform: scale(1.3); height: 3.55rem; }
    50% { height: 3.55rem; }
    75% { height: 3.55rem; }
    100% { height: 3.5rem; }
}