:root {
  --p-primary-50: #A7E6FF;
  --p-primary-100: #3ABEF9;
  --p-primary-200: #3572EF;
  --p-primary-300: #050C9C;
  --p-primary-400: #FFE6E6;
  --p-primary-500: #E1AFD1; /* Warna utama */
  --p-primary-600: #AD88C6;
  --p-primary-700: #7469B6;
  --p-primary-800: #C40C0C;
  --p-primary-900: #FF6500;
  --p-primary-950: #FF8A08;
  --p-primary-1000: #FFC100;
  
  --p-surface-0: #ffffff;
  --p-surface-50: #f7fafc;
  --p-surface-100: #f1f5f9;
  --p-surface-200: #e1e8f0;
  --p-surface-300: #cbd4e1;
  --p-surface-400: #94a3b8;
  --p-surface-500: #64748b;
  --p-surface-600: #485569;
  --p-surface-700: #334155;
  --p-surface-800: #1e293c;
  --p-surface-900: #0f172a;
  --p-surface-950: #010617;
  --p-content-border-radius: 6px;
  --font-primary: 'Roboto', sans-serif; /* Font utama */
}

/* Light */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
  --font-primary: 'Roboto', sans-serif; /* Font utama */
}

/* Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --p-primary-color: var(--p-primary-400);
    --p-primary-contrast-color: var(--p-surface-900);
    --p-primary-hover-color: var(--p-primary-300);
    --p-primary-active-color: var(--p-primary-200);
    --p-content-border-color: var(--p-surface-700);
    --p-content-hover-background: var(--p-surface-800);
    --p-content-hover-color: var(--p-surface-0);
    --p-highlight-background: color-mix(
      in srgb,
      var(--p-primary-400),
      transparent 84%
    );
    --p-highlight-color: rgba(255, 255, 255, 0.87);
    --p-highlight-focus-background: color-mix(
      in srgb,
      var(--p-primary-400),
      transparent 76%
    );
    --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
    --p-text-color: var(--p-surface-0);
    --p-text-hover-color: var(--p-surface-0);
    --p-text-muted-color: var(--p-surface-400);
    --p-text-hover-muted-color: var(--p-surface-300);
  }
}

/* Add this to your global styles */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
